{% extends "layout.html" %}
{% block content %}
  <h6>{{ calendar.name }}</h6>
  <i>{{ calendar.description }}</i>
  <div class="container">
    <div class="columns">
      <div class="col-9">
        <ul class="tab tab-block">
            <li class="tab-item{% if request.args.get("tab") == "basics" %} active{%endif%}">
              <a href="?tab=basics">Basics</a>
            </li>
            <li class="tab-item{% if request.args.get("tab") == "categories_and_jobs" %} active{%endif%}">
                <a href="?tab=categories_and_jobs">Categories & Jobs</a>
            </li>
            <li class="tab-item{% if request.args.get("tab") == "users" %} active{%endif%}">
                <a href="?tab=users">Users</a>
            </li>
            <li class="tab-item"">
                <a href="/calendar/{{ calendar.id }}?view=week">Calendar</a>
            </li>
        </ul>


        {% for message in get_flashed_messages() %}
        <div id="error_{{ message }}" class="toast toast-error">
          <button onClick="hideElementById('error_{{ message }}')" class="btn btn-clear float-right"></button>
          {{ message }}
        </div>
        {% endfor %}
          

      {%if request.args.get("tab") == "basics" %}
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Modify calendar</div>
        </div>
        <div class="panel-body">
            {% for field, errors in modify_calendar_form.errors.items() %}
              <div id="modify_error_{{ field }}" class="toast toast-error">
                <button onClick="hideElementById('modify_error_{{ field }}')" class="btn btn-clear float-right"></button>
                {{ ', '.join(errors) }}
              </div>
            {% endfor %}
              {% if request.args.get("action") == "modify" and request.args.get("success") %}
              <div id="modify_success" class="toast toast-success">
                <button onClick="hideElementById('modify_success')" class="btn btn-clear float-right"></button>
                Action successful
              </div>
                {% endif %}  
            <div class="form-group">
                <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=basics&action=modify" id="modify_calendar_form" autocomplete="off">
                    {{ modify_calendar_form.csrf_token }}
                    <label class="form-label">Calendar name</label>
                    {{ modify_calendar_form.name(value=calendar.name) }}
                    <label class="form-label">Description</label>
                    {{ modify_calendar_form.description(value=calendar.description) }}
                    <label class="form-checkbox">
                        {{modify_calendar_form.private(value=calendar.private)}}
                        <i class="form-icon"></i> Private
                    </label>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn" type="submit" form="modify_calendar_form" value="save">Save</button>
        </div>
      </div>


      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Delete</div>
        </div>
        <div class="panel-body">
            {% for field, errors in delete_calendar_form.errors.items() %}
              <div id="delete_error_{{ field }}" class="toast toast-error">
                <button onClick="hideElementById('delete_error_{{ field }}')" class="btn btn-clear float-right"></button>
                {{ ', '.join(errors) }}
              </div>
            {% endfor %}
            <div class="form-group">
                <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=basics&action=delete" id="delete_calendar_form" autocomplete="off">
                    {{ delete_calendar_form.csrf_token }}
                    <label class="form-label">Type calendar name</label>
                    {{ delete_calendar_form.name(value="") }}
                    <label class="form-checkbox">
                        {{delete_calendar_form.delete}}
                        <i class="form-icon"></i> I really want to delete my calendar and all calendar data
                    </label>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn" type="submit" form="delete_calendar_form" value="delete">Delete</button>
        </div>
      </div>

    {% elif request.args.get("tab") == "categories_and_jobs" %}
    
      {% if not categories %}
        <div class="empty bg-dark">
          <p class="empty-title h5">No existing categories</p>
          <p class="empty-subtitle">You may want add some</p>
        </div>
      {% else %}

        <table class="table table-hover">
          <thead>
            <tr>
              <th>name</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr class="">
              <td>{{ category.name }}</td>
              <td>
                {{ category.description }}
                <div class="float-right">
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Edit</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Edit
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&action=modify_category" id="modify_category_{{ category.id }}_form" autocomplete="off">
                              {{ modify_category_form.csrf_token }}
                              <label class="form-label">Name</label>
                              {{ modify_category_form.name(value=category.name) }}
                              <label class="form-label">Description</label>
                              {{ modify_category_form.description(value=category.description) }}
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="modify_category_{{ category.id }}_form" value="modify">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Delete</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Delete
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&action=delete_category" id="delete_category_{{ category.id }}_form">
                                {{ delete_category_form.csrf_token }}
                                <label class="form-checkbox">
                                    {{delete_category_form.delete}}
                                    <i class="form-icon"></i> I want to delete {{ category.name }} category.
                                </label>
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="delete_category_{{ category.id }}_form" value="delete">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}




    {% endif %}


    </div>

      <div class=col-3>

        <h4>Settings</h4>

        {% if request.args.get("tab") == "basics" %}

        <h6>Basics</h6>



        {% elif request.args.get("tab") == "categories_and_jobs" %}


        <h6>Categories & Jobs</h6>

        <div class="empty bg-dark">
          <div class="empty-title">
            Add category
          {% for field, errors in create_category_form.errors.items() %}
          <div id="create_category_error_{{ field }}" class="toast toast-error">
            <button onClick="hideElementById('create_category_error_{{ field }}')" class="btn btn-clear float-right"></button>
            {{ ', '.join(errors) }}
          </div>
        {% endfor %}
          <div class="form-group">
              <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&action=new_category" id="create_category_form">
                  {{ create_category_form.csrf_token }}
                  <label class="form-label">Name for new category</label>
                  {{ create_category_form.name }}
                  <label class="form-label">Description of new category</label>
                  {{ create_category_form.description }}
              </form>
          </div>
          <div class="empty-action">
            <button class="btn btn-primary" type="submit" form="create_category_form" value="create">Create</button>
          </div>
        </div>
        </div>

        {% endif %}
      </div>
    </div>
{% endblock %}