{% extends "layout.html" %}
{% block content %}
  <h6>{{ calendar.name }}</h6>
  <i>{{ calendar.description }}</i>
  <div class="container">
    <div class="columns">
      <div class="col-9">
        <ul class="tab tab-block">
            <li class="tab-item{% if request.args.get("tab") == "basics" %} active{%endif%}">
              <a href="/calendar/{{ calendar.id }}/settings?tab=basics">Basics</a>
            </li>
            <li class="tab-item{% if request.args.get("tab") == "categories_and_jobs" %} active{%endif%}">
                <a href="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs">Categories & Jobs</a>
            </li>
            <li class="tab-item{% if request.args.get("view") == "tasks" %} active{%endif%}">
              <a href="/calendar/{{ calendar.id }}?view=tasks">Tasks</a>
        </ul>

        {% for message in get_flashed_messages() %}
        <div id="error_{{ message }}" class="toast toast-error">
          <button onClick="hideElementById('error_{{ message }}')" class="btn btn-clear float-right"></button>
          {{ message }}
        </div>
        {% endfor %}
          



      {% for job in jobs %}


    <div>
        <div class="form-group">
            <form method="POST" action="/calendar/{{ calendar.id }}?action=new_task&job_id={{ job.id }}" id="task_form">
                {{ task_form.csrf_token }}
                <label class="form-inline">Create new task in {{ job.name }}</label>
                <label class="form-inline">Task</label>
                {{ task_form.name }}
                <label class="form-inline">Description</label>
                {{ task_form.description }}
                <label class="form-inline">Planned time (minutes)</label>
                {{ task_form.planned_time }}
                <button class="btn btn-primary" type="submit" form="task_form" value="create">Create</button>
            </form>
        </div>

        
      <table class="table table-hover">
        <thead>
          <tr>
            <th>job name</th>
            <th>job description</th>
            <th>task name</th>
            <th>task description</th>
            <th>planned time</th>
            <th>actual time</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            {% if job.id == task.job_id %}
            <th>{{ job.name }}</th>
            <th>{{ job.description }}</th>
            <th>{{ task.name }}</th>
            <th>{{ task.description }}</th>
            <th>{{ task.planned_time }} min</th>
            <th>{{ task.actual_time }} min</th>
            {% endif %}
          {% endfor %}
          </tbody>

          </table>
        </div>

      {% endfor %}


      {% if not tasks %}

      {% else %}

        tähänkin väliin koodia


      {% endif %}

      </div>

      <div class=col-3>




      </div>
    </div>
  </div>

{% endblock %}