{% extends "layout.html" %}
{% block content %}
  <h6>{{ calendar.name }}</h6>
  <i>{{ calendar.description }}</i>
  <div class="container">
    <div class="columns">
      <div class="col-9">
        <ul class="tab tab-block">
          <li class="tab-item{% if request.args.get("tab") == "basics" %} active{%endif%}">
            <a href="/calendar/{{ calendar.id }}/settings?tab=basics">Basics</a>
          </li>
          <li class="tab-item{% if request.args.get("tab") == "categories_and_jobs" %} active{%endif%}">
              <a href="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs">Categories & Jobs</a>
          </li>
          <li class="tab-item{% if request.args.get("view") == "tasks" %} active{%endif%}">
            <a href="/calendar/{{ calendar.id }}?view=tasks">Tasks</a>
      </ul>
        {% for message in get_flashed_messages() %}
        <div id="error_{{ message }}" class="toast toast-error">
          <button onClick="hideElementById('error_{{ message }}')" class="btn btn-clear float-right"></button>
          {{ message }}
        </div>
        {% endfor %}
      {%if request.args.get("tab") == "basics" %}
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Modify calendar</div>
        </div>
        <div class="panel-body">
            {% for field, errors in modify_calendar_form.errors.items() %}
              <div id="modify_error_{{ field }}" class="toast toast-error">
                <button onClick="hideElementById('modify_error_{{ field }}')" class="btn btn-clear float-right"></button>
                {{ ', '.join(errors) }}
              </div>
            {% endfor %}
              {% if request.args.get("action") == "modify" and request.args.get("success") %}
              <div id="modify_success" class="toast toast-success">
                <button onClick="hideElementById('modify_success')" class="btn btn-clear float-right"></button>
                Action successful
              </div>
                {% endif %}  
            <div class="form-group">
                <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=basics&action=modify" id="modify_calendar_form" autocomplete="off">
                    {{ modify_calendar_form.csrf_token }}
                    <label class="form-label">Calendar name</label>
                    {{ modify_calendar_form.name(value=calendar.name) }}
                    <label class="form-label">Description</label>
                    {{ modify_calendar_form.description(value=calendar.description) }}
                    {{ modify_calendar_form.private(value=calendar.private, hidden=True) }}
                    <!--label class="form-checkbox">
                        {{modify_calendar_form.private(value=calendar.private)}}
                        <i class="form-icon"></i> Private
                    </label-->
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn" type="submit" form="modify_calendar_form" value="save">Save</button>
        </div>
      </div>
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Delete</div>
        </div>
        <div class="panel-body">
            {% for field, errors in delete_calendar_form.errors.items() %}
              <div id="delete_error_{{ field }}" class="toast toast-error">
                <button onClick="hideElementById('delete_error_{{ field }}')" class="btn btn-clear float-right"></button>
                {{ ', '.join(errors) }}
              </div>
            {% endfor %}
            <div class="form-group">
                <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=basics&action=delete" id="delete_calendar_form" autocomplete="off">
                    {{ delete_calendar_form.csrf_token }}
                    <label class="form-label">Type calendar name</label>
                    {{ delete_calendar_form.name(value="") }}
                    <label class="form-checkbox">
                        {{delete_calendar_form.delete}}
                        <i class="form-icon"></i> I really want to delete my calendar and all calendar data
                    </label>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn" type="submit" form="delete_calendar_form" value="delete">Delete</button>
        </div>
      </div>

    {% elif request.args.get("tab") == "categories_and_jobs" and request.args.get("action", "") == "" %}
    
      {% if not categories %}
        <div class="empty bg-dark">
          <p class="empty-title h5">No existing categories</p>
          <p class="empty-subtitle">You may want add some</p>
        </div>
      {% else %}

        <table class="table table-hover">
          <thead>
            <tr>
              <th>name</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr class="">
              <td>{{ category.name }}</td>
              <td>
                {{ category.description }}
                <div class="float-right">
                  <a href="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&action=view_jobs&category_id={{ category.id }}" class="btn btn-primary">Select</a>
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Edit</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Edit
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&action=modify_category" id="modify_category_{{ category.id }}_form" autocomplete="off">
                              {{ modify_category_form.csrf_token }}
                              <label class="form-label">Name</label>
                              {{ modify_category_form.name(value=category.name) }}
                              <label class="form-label">Description</label>
                              {{ modify_category_form.description(value=category.description) }}
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="modify_category_{{ category.id }}_form" value="modify">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Delete</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Delete
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&action=delete_category" id="delete_category_{{ category.id }}_form">
                                {{ delete_category_form.csrf_token }}
                                <label class="form-checkbox">
                                    {{delete_category_form.delete}}
                                    <i class="form-icon"></i> I want to delete {{ category.name }} category.
                                </label>
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="delete_category_{{ category.id }}_form" value="delete">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% elif request.args.get("tab") == "categories_and_jobs" and request.args.get("action", "") == "view_jobs" %}
    
      {% if not jobs %}
        <div class="empty bg-dark">
          <p class="empty-title h5">No existing jobs</p>
          <p class="empty-subtitle">You may want add some</p>
        </div>
      {% else %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>category</th>
              <th>job</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr class="">
              <td>{{ category.name }}</td>
              <td>{{ job.name }}</td>
              <td>
                {{ job.description }}
                <div class="float-right">
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Edit</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Edit
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&action=modify_job&job_id={{ job.id }}" id="modify_job_{{ job.id }}_form" autocomplete="off">
                              {{ job_form.csrf_token }}
                              <label class="form-label">Name</label>
                              {{ job_form.name(value=job.name) }}
                              <label class="form-label">Description</label>
                              {{ job_form.description(value=job.description) }}
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="modify_job_{{ job.id }}_form" value="modify">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popover popover-left">
                    <button class="btn btn-primary">Delete</button>
                    <div class="popover-container">
                      <div class="card text-dark">
                        <div class="card-header">
                          Delete
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&category_id={{ category.id }}&job_id={{ job.id }}&action=delete_job" id="delete_job_{{ job.id }}_form">
                                {{ job_form.csrf_token }}
                                {{ job_form.name(value=job.name, hidden=True) }}
                                {{ job_form.description(value=job.name, hidden=True) }}
                                <label class="form-checkbox">
                                    {{job_form.delete}}
                                    <i class="form-icon"></i> I want to delete {{ job.name }} job.
                                </label>
                            </form>
                        </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn" type="submit" form="delete_job_{{ job.id }}_form" value="delete">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
    </div>
      <div class="col-3">
        <h4>Settings</h4>
        {% if request.args.get("tab") == "basics" %}
        <h6>Basics</h6>
        </div>
        {% elif request.args.get("tab" == "category_and_jobs") %}
        <h6>Categories & Jobs</h6>
        {% endif %}
        {% if request.args.get("tab") == "categories_and_jobs" and request.args.get("action", "") == "" %}
        <div class="empty bg-dark">
          <div class="empty-title">
            {{ calendar.name }}  
          </div>
          <div class="empty-subtitle">
            Add category
          </div>
          <div class="form-group">
              <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&action=new_category" id="create_category_form">
                  {{ create_category_form.csrf_token }}
                  <label class="form-label">Name</label>
                  {{ create_category_form.name }}
                  <label class="form-label">Description</label>
                  {{ create_category_form.description }}
              </form>
          </div>
          <div class="empty-action">
            <button class="btn btn-primary" type="submit" form="create_category_form" value="create">Create</button>
          </div>
        </div>
        </div>
        {% elif request.args.get("tab") == "categories_and_jobs" and request.args.get("action", "") == "view_jobs" %}
        <div class="empty bg-dark">
          <a href="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs" class="btn btn-primary">Back to categories</a>
          <div class="empty-title">
            {{ category.name }}
          </div>
          <div class=empty-subtitle>
            Add job
          </div>
          <div class="form-group">
              <form method="POST" action="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs&action=new_job&category_id={{ category.id }}" id="create_job_form">
                  {{ job_form.csrf_token }}
                  <label class="form-label">Name</label>
                  {{ job_form.name }}
                  <label class="form-label">Description</label>
                  {{ job_form.description }}
              </form>
          </div>
          <div class="empty-action">
            <button class="btn btn-primary" type="submit" form="create_job_form" value="create">Create</button>
          </div>
        </div>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}