{% extends "layout.html" %}
{% block content %}
  <h6>{{ calendar.name }}</h6>
  <i>{{ calendar.description }}</i>
  <div class="container">
    <div class="columns">
      <div class="col-9">
        <ul class="tab tab-block">
            <li class="tab-item{% if request.args.get("tab") == "basics" %} active{%endif%}">
              <a href="/calendar/{{ calendar.id }}/settings?tab=basics">Basics</a>
            </li>
            <li class="tab-item{% if request.args.get("tab") == "categories_and_jobs" %} active{%endif%}">
                <a href="/calendar/{{ calendar.id }}/settings?tab=categories_and_jobs">Categories & Jobs</a>
            </li>
            <li class="tab-item{% if request.args.get("view") == "tasks" %} active{%endif%}">
              <a href="/calendar/{{ calendar.id }}?view=tasks">Tasks</a>
        </ul>

        {% for message in get_flashed_messages() %}
        <div id="error_{{ message }}" class="toast toast-error">
          <button onClick="hideElementById('error_{{ message }}')" class="btn btn-clear float-right"></button>
          {{ message }}
        </div>
        {% endfor %}
          

        {% if not taks %}
        <div class="empty bg-dark">
          <p class="empty-title h5">No existing tasks</p>
          <p class="empty-subtitle">You may want add some</p>
        </div>
      {% else %}

        tähänkin väliin koodia


      {% endif %}

      </div>

      <div class=col-3>
        <div class="empty bg-dark">
          <div class="empty-title">
            {{ calendar.name }}  
          </div>
          <div class="empty-subtitle">
            Add task
          </div>
          <div class="form-group">
              <form method="POST" action="/calendar/{{ calendar.id }}?action=new_task" id="task_form">
                  {{ task_form.csrf_token }}
                  <label class="form-label">Name</label>
                  {{ task_form.name }}
                  <label class="form-label">Description</label>
                  {{ task_form.description }}
                  <label class="form-label">Planned time (minutes)</label>
                  {{ task_form.planned_time }}
              </form>
          </div>
          <div class="empty-action">
            <button class="btn btn-primary" type="submit" form="task_form" value="create">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}