<h1>Timetracker</h1>

<p>categories</p>

{% for category in users_calendars %}
<a href="/calendar/{{ calendar.id }}">{{ calendar.name }}<a>
<br />
{% endfor %}

{% if not users_calendars %}
<p>No existing calendars found</p>
{% endif %}
<form method="POST" action="">
    {{ category_form.csrf_token }}
    Name for new category:
    {{ category_form.name }}
    <br>    
    Description of new category:
    {{ category_form.description }}
    <br>
    <input type="submit" value="create">
</form>

<a href="/logout">log out</a>