<!doctype html>
<html>
<head>
  <title>Timetracker</title>
  <!--muista päivittää näihin versiot-->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body class="bg-dark">
  <header class="navbar">
      <section class="navbar-section">
        <div class="navbar-brand">Timetracker</div>
      </section>
      <section class="navbar-section">
      </section>
      {% if logout_form and current_user.is_authenticated %}
      <section class="navbar-section">
        <div class="navbar-brand">{{ current_user.realname }}</div>
        <form method="POST" action="/logout" id="logout_form">
          {{ logout_form.csrf_token }}
        </form>
        <button class="btn btn-link" type="submit" form="logout_form" value="logout">logout</button>
      </section>
      {% elif not current_user.is_authenticated %}
      <section class="navbar-section">
        <a href="/register">Create new user</a>
      </section>
      {% endif %}
</header>
{% block content %}{% endblock %} 
</body>
</html>