{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column col-auto col-mx-auto col-6">
                <h6>Login</h6>
              {% for field, errors in login_form.errors.items() %}
                <div id="login_error_{{ field }}" class="toast toast-error">
                  <button onClick="hideElementById('login_error_{{ field }}')" class="btn btn-clear float-right"></button>
                  {{ ', '.join(errors) }}
                </div>
              {% endfor %}
              {% for message in get_flashed_messages() %}
              <div id="login_error_{{ field }}" class="toast toast-error">
                <button onClick="hideElementById('login_error_{{ field }}')" class="btn btn-clear float-right"></button>
                {{ message }}
              </div>
              {% endfor %}
                <div class="form-group">
                    <form method="POST" action="/login" id="login_form">
                        {{ login_form.csrf_token }}
                        <label class="form-label">Username</label>
                        {{ login_form.username }}
                        <label class="form-label">Password</label>
                        {{ login_form.password }}
                    </form>
                    <button class="btn" type="submit" form="login_form" value="login">Login</button>
                </div>
                <a href="/register">Register new user here</a>
            </div>
        </div>
    </div>
{% endblock %}